html, body {
  background-color: #ecf0f1;
}

header {
  height: 140px;
  background-color: #3498db;
}

main .container {
  background-color: white;
  border-radius: 0px;
  margin-top: -50px;
  padding-bottom: 1px;
}

header > .container {
  padding-top: 25px;
}

#output {
  padding-top: 25px;
}

#page-title {
  color: white;
  letter-spacing: 1.2px;
  font-weight: 400;
}

#output-copy {
  background-color: #3498db !important;
  box-shadow: none !important;
  transition: 0.3s;
  border: 0px;
}

#output-copy:hover, #output-copy:focus {
  background-color: #2980b9 !important;
  box-shadow: none !important;
}

#output-input {
  background-color: white !important;
}

#output-input:hover, #output-input:focus {
  box-shadow: none !important;
  background-color: white !important;
}

.form-group > label {
  margin-bottom: 0px;
  margin-left: 3px;
}

.form-row:first-child {
  margin-top: 25px;
}

.form-row {
  margin-bottom: 25px;
}

#devider {
  margin-top: 30px;
}

.form-check-label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}